.beers {
  li {
    @include span-columns(4);
    @include omega(3n);
    background-color: white;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: $base-border-radius;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    color: darken($tan, 40);
    letter-spacing: 1px;
  }

  h2 {
    font-size: 1.5em;
    color: $dark-brown;
    margin-bottom: .5em;
  }
}
