.beers {
  li {
    @include omega(3n);
    @include span-columns(4);
    background-color: white;
    border-radius: $base-border-radius;
    margin-bottom: 1.5em;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  .contianer {
    padding: 1.5em;
  }

  h3 {
    color: darken($tan, 55);
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h2 {
    color: $dark-brown;
    font-size: 1.5em;
    margin-bottom: .5em;
  }
}
