%header
  %h1 Beerchive
  %h2 The stupidly simple way to keep track of the craft beers you've had.

  %ul
    %li No social bullshit.
    %li No badges.
    %li No awards.

  = link_to("Sign up", sign_up_path)

%section
  %ul
    %li Add photos
    %li Add tasting notes
    %li Add reviews
