header.application {
  .wrapper {
    @include outer-container;
    padding: 3em 2em 0;
  }

  .logo {
    float: left;
    font-size: 1.75em;
  }

  nav {
    float: right;
    margin-top: .5em;
    font-size: em(14);

    a {
      font-weight: bold;
      text-transform: uppercase;
      text-indent: 1px;
      margin-left: 1em;
    }
  }
}

section.application {
  @include outer-container;
  margin-top: 2em;
  padding: 0 2em;
}

footer.application {
  @include outer-container;
  padding: 2em;

  a.sign-out {
    float: right;
    color: darken($tan, 20);
  }
}
